@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Clash Display', 'Inter', sans-serif;
    
    --color-studio-dark: #0a0a0a;
    --color-studio-accent: #cd7f32;
}

/* Lenis Smooth Scroll Fixes */
html.lenis, html.lenis body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
